/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
h1 {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: none !important;
  margin: auto !important;
}

a{
  text-decoration: none !important;
}

.active{
  color: #E8E8E8;
  font-weight: bold;
}

.nonActive{
  color: #E8E8E8;
}
